<MarketplaceDetails>
  <SmallAppTile>Yeti_App_Icon.png</SmallAppTile>
  <ScreenShots>Yeti_Screenshot_1_WVGA.png;Yeti_Screenshot_2_WVGA.png;;;;;;;</ScreenShots>
  <ScreenShotsWXGA>Yeti_Screenshot_1_WXGA.png;Yeti_Screenshot_2_WXGA.png;;;;;;;</ScreenShotsWXGA>
  <ScreenShots720P>Yeti_Screenshot_1_720.png;Yeti_Screenshot_2_720.png;;;;;;;</ScreenShots720P>
</MarketplaceDetails>